<div id="menu">
	<nav id="nav" role="navigation">
	    <ul>
	        <li class="nav-item"><a href="{{@blog.url}}"><i class="fa fa-home"></i> Home</a></li>
	        <li class="nav-item"><a href=""><i class="fa fa-phone"></i> Contact</a></li>
	        <li class="nav-item"><a href="{{@blog.url}}/about-me"><i class="fa fa-user"></i> About Me</a></li>
	    </ul>
	</nav>
</div>