// NAVIGATION STYLES
// =============================

#nav {
	margin:0 -5%;
	> ul {
		margin:0;
		padding:0;
	}
	.nav-item {
		border-top:1px solid lighten($darkgrey, 20%);
		a {
			color:$lightgrey;
			text-transform: uppercase;
			font-family: $sans-serif;
			display:block;
			padding:1em;
		}
	}
}

// MENU PANEL
// =============================

.menu-button {
	display:block;
	color:#FFF;
	width: 50px;
	height: 50px;
	line-height:50px;
	font-size:24px;

	&:hover, &:focus {
		color:$link-color;
	}
}

#menu-toggle {
	
	position: absolute;
	text-align: right;
	top:0;
	right:0;

	.close-icon {display:none}

	@include mq($medium) {
		text-align: center;
		width:100%;
		top:10px;
	}
}

#menu {
	display:none;
	text-align: center;

	@include mq($medium){
		display:block !important;
		position:absolute;
		top:0;
		left:-200px;
		width:200px;
		height:100%;
		opacity:0;
		text-align: left;
		@include transition(left .3s ease, opacity .3s ease);
	}
}

.open-menu {
	#menu-toggle {
		.menu-icon {display:none}
		.close-icon {display:inline-block}
	}
	@include mq($medium){
		#header {
			width:270px;
		}
		#menu {
			left:0;
			opacity:1;
		}
		#viewport {
			left:200px;
		}
	}
}

.pagination { // only for development
	display:none;
}


// TOPSCROLLER
// =============================

#topscroller {
	position: fixed;
	z-index: 25;
	right: 30px;
	bottom: -35px;
	width: 34px;
	height: 34px;
	opacity: 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	background-color:$link-color;

	@include radius(17px);
	@include transition(all .4s ease);
	@include mq($medium) {
		display:inline;
	}
}
#topscroller.off {
	bottom: -35px;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
#topscroller.on {
	bottom: 15px;
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
}
#topscroller:before {
	display: block;
	width: 34px;
	height: 34px;
	content: "";
	background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2212px%22%20height=%228px%22%20viewBox=%220%200%2012%208%22%20enable-background=%22new%200%200%2012%208%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22white%22%20points=%225.999,3.376%201.6,8%200,6.303%205.999,0%2012,6.303%2010.4,8%20%22/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center center;
}